<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>

</head>
<body>
    <header>
        <div class="header-container-top">
            <div class="izquierda">
                <img src="/images/logo-mercado-liebre.svg" alt="">

            </div>
            <div class="medio">
                <input type="search" id="busqueda" name="q"/><!--Barra de busqueda-->
            </div>
            <div class="derecha">
    <p><i class="fas fa-hand-holding-usd" class="iconos-header"></i>Comprá en cuotas y sin tarjeta de crédito.</p>

            </div>

        </div>
            <div class="header-container">
                <nav class="nav-2">
                    <ul>
                        <li><a class="tamanio-menu" href="#">Ofertas</a></li>
                        <li><a class="tamanio-menu" href="#">Tiendas Oficiales</a></li>
                        <li><a class="tamanio-menu" href="#">Vender</a></li>
                        <li><a class="tamanio-menu" href="#">Ayuda</a></li>
                    </ul>
            </nav>
            <nav class="nav-2">
                    <ul>
                        <li><a class="tamanio-menu" href="/register">Creá tu cuenta</a><i class="far fa-id-card" class="iconos-header"></i></li>
                        <li><a class="tamanio-menu" href="/login">Ingresá</a><i class="fas fa-sign-in-alt" class="iconos-header"></i></li>
                        <li><a class="tamanio-menu" href="#">Mis compras</a><i class="fas fa-shopping-basket" class="iconos-header"></i></li>            
                    </ul>
            </nav>        
            </div>

    </div>
    
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>

    </header>
    <img id="banner" src="/images/img-home-banner.jpg" alt="">

    <main>                    
        <h2 class="titulo-cat">Basado en tu última visita</h2>
        <section class="productos">
            <div class="flex-container">  
                <article>
                    <div class="linea-gris">
                    <img src="/images/img-cafetera-moulinex.jpg" alt=""><!--agrego width desde HTML de modo previsorio.-->  
                    </div><!--Imagen-->
                <div class="linea-gris"><!--Div articulo-->             
                    <i class="fas fa-truck"></i>
                    <div class="cont-p">
                        <div class="flex-box-caja">
                            <p class="precios">$6.770</p>
                            <span class="fs-desc  texto-verde">40% OFF</span>
                        </div>
                        <div class="titulo-producto">
                            <h3 class="titulo-fs">Cafetera Moulinex</h3>
                        </div>
                    </div>
                </div>    <!--Div articulo-->      
                    </article>
                <article>
                    <div class="linea-gris">
                        <img src="/images/img-macbook-pro-2019.jpg" alt=""><!--agrego width desde HTML de modo previsorio.-->
                    </div>    
                    <div class="linea-gris">                
                        <i class="fas fa-truck texto-verde"></i>
                        <div class="cont-p">
                            <div class="flex-box-caja">
                                <p class="precios">$230.000</p>
                                <span class="fs-desc  texto-verde">20% OFF</span>
                            </div>
                        </div>
                        <div class="titulo-producto">
                            <h3 class="titulo-fs"> MacBook Pro 2019</h3>    
                        </div>
                    </div>
                    </article>
                <article>
                    <div class="linea-gris">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="" ><!--agrego width desde HTML de modo previsorio.-->
                    </div>
                    <div class="linea-gris">
                        <i class="fas fa-truck texto-verde"></i>
                        <div class="cont-p">
                            <div class="flex-box-caja">
                                <p class="precios">$70.500</p>
                                <span class="fs-desc  texto-verde">10% OFF</span>
                            </div>
                            <div class="titulo-producto">
                                <h3 class="titulo-fs">Samsung Galaxy S10</h3>
                            </div>
                        </div>
     
                    </div>
                    </article>
                <article>
                    <div class="linea-gris">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="" ><!--agrego width desde HTML de modo previsorio.-->
                    </div>    
                        <div class="linea-gris">
                        <i class="fas fa-truck texto-verde"></i>
                        <div class="cont-p">
                            <div class="flex-box-caja">
                                <p class="precios">$23.200</p>
                                <span class="fs-desc  texto-verde">5% OFF</span>
                            </div>
                            <div class="titulo-producto">
                                <h3 class="titulo-fs">SmartTv Samsung 43"</h3>    
                            </div>
                        </div>
                        </div>
                    </article>
                </div>
            </section>
            <h2 class="titulo-cat">Ofertas</h2>
            <section class="productos">
                <div class="flex-container">  
                    <article>
                        <div class="linea-gris">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="">
                        </div><!--Imagen-->
                    <div class="linea-gris"><!--Div articulo-->             
                        <i class="fas fa-truck"></i>
                        <div class="cont-p">
                            <div class="flex-box-caja">
                                <p class="precios">$6.770</p>
                                <span class="fs-desc fs-desc  texto-verde">40% OFF</span>
                            </div>
                            <div class="titulo-producto">
                                <h3 class="titulo-fs">Cafetera Moulinex</h3>
                            </div>
                        </div>
                    </div>    <!--Div articulo-->      
                        </article>
                    <article>
                        <div class="linea-gris">
                            <img src="/images/img-macbook-pro-2019.jpg" alt="">
                        </div>    
                        <div class="linea-gris">                
                            <i class="fas fa-truck texto-verde"></i>
                            <div class="cont-p">
                                <div class="flex-box-caja">
                                    <p class="precios">$20.000</p>
                                    <span class="fs-desc  texto-verde">20% OFF</span>
                                </div>
                            </div>
                            <div class="titulo-producto">
                                <h3 class="titulo-fs"> MacBook Pro 2019</h3>    
                            </div>
                        </div>
                        </article>
                    <article>
                        <div class="linea-gris">
                            <img src="/images/img-samsung-galaxy-s10.jpg" alt="" ><!--agrego width desde HTML de modo previsorio.-->
                        </div>
                        <div class="linea-gris">
                            <i class="fas fa-truck texto-verde"></i>
                            <div class="cont-p">
                                <div class="flex-box-caja">
                                    <p class="precios">$70.500</p>
                                    <span class="fs-desc  texto-verde">10% OFF</span>
                                </div>
                                <div class="titulo-producto">
                                    <h3 class="titulo-fs">Samsung Galaxy S10</h3>
                                </div>
                            </div>
         
                        </div>
                        </article>
                    <article>
                        <div class="linea-gris">
                            <img src="/images/img-tv-samsung-smart.jpg" alt="" ><!--agrego width desde HTML de modo previsorio.-->
                        </div>    
                            <div class="linea-gris">
                            <i class="fas fa-truck texto-verde"></i>
                            <div class="cont-p">
                                <div class="flex-box-caja">
                                    <p class="precios">$23.200</p>
                                    <span class="fs-desc  texto-verde">5% OFF</span>
                                </div>
                                <div class="titulo-producto">
                                    <h3 class="titulo-fs">SmartTv Samsung 43"</h3>    
                                </div>
                            </div>
                            </div>
                        </article>
                    </div>
                </section>
    </main>
    <footer>
        <div class="footer-cen">
            <i class="fas fa-credit-card" class="iconos-footer"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="footer-cen">
            <i class="fas fa-gift" class="iconos-footer"></i>
            <h4>Envio gratis desde los $2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div class="footer-cen">
            <i class="fas fa-user-shield" class="iconos-footer"></i>
            <h4> Seguridad, de principio a fin</h4>
            <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            <p>Copyright 1999-2020 MercadoLiebre S.R.L</p>       
        </div>    
</footer>
</body>
</html>