@import url(./styles.css);
:root{
    --amarillo : #EAC926;
    --azul : #03264C;
    --celeste : #1259C3;
    --gris-oscuro : #666;
    --gris-claro : #EBEBEB;
    --verde : #39B54A;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 200px;
}

.caja-login-2{
    display: flex;
    justify-content: center;
    border-radius: 4px;
    padding: 10px
}

.input-caja{
    width: 265px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    font-size: 15px;
    border-radius: 4px;
    border: none;
}

.boton{
    background-color:var(--celeste);
    color: var(--gris-claro);
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 2px;
    }
.boton:hover{
    background-color: var(--verde);
}